.note {
    color: #2d3748;
    font-size: 0.72rem;
    margin-top: 28px;
    text-align: center;
}

.link {
    color: #374151;
    text-decoration: none !important;
    font-size: 0.72rem;
    transition: color 0.2s ease;
}

.link:hover {
    color: #F4652D;
}
