.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 40px 0;
}

.text {
    color: #cbc4c4;
    width: 80%;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
  
.formAnimate {
    animation: slideUp 0.5s ease-out;
}
.welcome {
    font-size: medium;
    color: #cbc4c4;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    border-radius: 100% !important;
    margin-left: 10px;
}

@keyframes slideUp {
    from {
      transform: translateY(20%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media only screen and (max-width: 960px) {
    .title {
        font-size: 1.5rem;
        text-align: center;
    }

    .text {
        font-size: 0.8rem;
        text-align: center;
    }
 }