.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.gridItem {
    width: 95%;
    min-width: 95%;
    max-width: 95%;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background-color: transparent;
    transition: border-color 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gridItem:hover {
    border-color: #F4652D;
}